name: Deploy to Firebase Hosting (Preview)
on:
  push:
    branches-ignore:
      - main

permissions:
  checks: write
  contents: read
  pull-requests: write

jobs:
  build_and_preview:
    if: github.repository == 'TWCkaijin/Finder-For-FOOOOOD'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"
          cache-dependency-path: "client/pnpm-lock.yaml"

      - name: Install and Build
        env:
          VITE_API_URL: https://asia-east1-finder-for-foooood.cloudfunctions.net/api
        run: |
          cd client
          pnpm install --frozen-lockfile
          pnpm run build

      - name: Deploy to Firebase Hosting Preview
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_FINDER_FOR_FOOOOOD }}
          projectId: finder-for-foooood
          entryPoint: ./client
          channelId: ${{ github.ref_name }}
          expires: 7d
